<mat-drawer-container hasBackdrop>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <a matRipple (click)="closeDrawer(drawer)" [routerLink]="['/']">
        <mat-list-item>
          <mat-icon color="warn" mat-list-icon>dashboard</mat-icon>
          <div mat-line>Dashboard</div>
        </mat-list-item>
      </a>
      <a matRipple (click)="closeDrawer(drawer)" [routerLink]="['/tipo-projeto']">
        <mat-list-item>
          <mat-icon color="warn" mat-list-icon>view_array</mat-icon>
          <div mat-line>Tipo projeto</div>
        </mat-list-item>
      </a>
      <a matRipple (click)="closeDrawer(drawer)" [routerLink]="['/status-projeto']">
        <mat-list-item>
          <mat-icon color="warn" mat-list-icon>grading</mat-icon>
          <div mat-line>Status projeto</div>
        </mat-list-item>
      </a>
      <a matRipple (click)="closeDrawer(drawer)" [routerLink]="['/cargo']">
        <mat-list-item>
          <mat-icon color="warn" mat-list-icon>support_agent</mat-icon>
          <div mat-line>Cargo</div>
        </mat-list-item>
      </a>
      <a matRipple (click)="closeDrawer(drawer)" [routerLink]="['/funcionario']">
        <mat-list-item>
          <mat-icon color="warn" mat-list-icon>people_alt</mat-icon>
          <div mat-line>Funcionário</div>
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{toolbarName}}</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
