<mat-progress-bar *ngIf="loading" color="warn" mode="indeterminate"></mat-progress-bar>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="lider">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Líder</th>
    <td mat-cell *matCellDef="let element"> {{element.lider.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="excluir">
    <th  mat-header-cell class="cell-align-right" *matHeaderCellDef>Excluir</th>
    <td mat-cell class="cell-align-right" *matCellDef="let element">
      <button mat-icon-button color="warn" title="Excluir" (click)="excluir($event, element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr [routerLink]="['/projeto', row._id]" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="fab-container">
  <button
    routerLink="/projeto/novo"
    mat-fab color="primary"
    #tooltip="matTooltip"
    matTooltip="Novo Projeto"
    matTooltipPosition="left"
    matTooltipHideDelay="100000"
  >
    <mat-icon>add_new</mat-icon>
  </button>
</div>
