table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr {
  button {
    display: none;
  }
}

tr:hover {
  background: whitesmoke;

  button {
    display: inline-table;
  }
}

.cell-align-right {
  text-align: right;
}

.fab-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
